[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
jupyterlab = "*"
geodatasets = "*"
folium = "*"
matplotlib = "*"
mapclassify = "*"
leafmap = "*"
palettable = "*"
sidecar = "*"
lombard = "*"
ipyleaflet = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.12"
